{% load static %}
<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static '/script/Datastore.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$(function(){
  $(".label_next5").click(function(){
    getJSONForm('http://' + ipaddr + ':8000/initial/usual');
  });
});
</script>
</head>
<body>
    <div class="title2">初期設定が終わりました</div>
    <p class="label_next5">
        これから先あなたが<br>洗濯日に困ることがないでしょう
    </p>

</body>
</html>