{% load static %}
<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
        <form action="" method="get">
        <p class="label_postnumber"><label>仕事時間</label></p>
        <p class="label_worktime">{{form.time_start.label}}　{{form.time_start}}</p>
        <p class="label_worktime">{{form.time_end.label}}　{{form.time_end}}</p>

        <p class="label_next3"><button style="font-size: 60%;" type="submit" formaction="{% url 'initial_page:get_laundryscale' %}">次へ</button></p>
        {% csrf_token %}
    </form>

</body>
</html>