{% load static %}
<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
        <form action="" method="get">
        <p class="label_postnumber"><label>洗濯機の大きさ</label></p>
        <div class="laundry_wrap">
            <input class="radio_laundry" type="radio" name="q1" value=1/>
            <label class="label_laundry">大</label>
            <input class="radio_laundry" type="radio" name="q1" value=2/>
            <label class="label_laundry">中</label>
            <input class="radio_laundry" type="radio" name="q1" value=3/>
            <label class="label_laundry">小</label>

        <p class="send_postposi"><input id="send_postnumber" type="submit" value="OK"></p>
    </div>
    </form>

    <p class="label_next4">
        <a href="{% url 'initial_page:init_end_page' %}">次へ</a>
    </p>
</body>
</html>