{% load static %}
<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static '/script/Datastore.js' %}"></script>

</head>
<body>
      <p style="padding-top: 200px;text-align: center;"><label style="font-size: 650%;">仕事時間</label></p>
      <p class="inputTime_pos" style="text-align: center;padding-top: 100px">
        <label style="font-size: 400%;">開始：</label><input style="padding-top: 10px;font-size: 500%; width: 40%;" id="starttime" type="time" step="3600" min="00:00" max="23:59" >
      </p>
      <br><br><br><br>
      <p class="inputTime_pos" style="text-align: center;padding-top: 50px">
        <label style="font-size: 400%;">終了：</label><input style="padding-top: 10px;font-size: 500%; width: 40%;" id="endtime" type="time" step="3600" min="00:00" max="23:59" >
      </p>
        <p style="text-align: center;padding-top: 200px;">
        <label style="font-size: 500%;" onclick="requiredInput_work()">次へ</label>
      </p>
      <button onclick="setWorkTime()">set</button><br>
      <button onclick="getWorkTime()">get</button><br>

    </body>
</html>