{% load static %}
<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static '/script/Datastore.js' %}"></script>

</head>
<body>
        <p class="label_laundry_title"><label>洗濯機の大きさ</label></p>
        <div class="laundry_wrap">
            <form id="target">
            <input id="radio_laundry1" type="radio" name="q1" value=1 checked />
            <label class="label_laundry">大　　</label>
            <input id="radio_laundry2" type="radio" name="q1" value=2 />
            <label class="label_laundry">中　　</label>
            <input id="radio_laundry3" type="radio" name="q1" value=3 />
            <label class="label_laundry">小</label>
        </form>
    </div>
    <p class="label_next4" onclick="setLaundryScale()">
        次へ
    </p>
</body>
</html>