{% load static %}
<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
        <form action="" method="get">
        <p class="label_postnumber"><label>仕事時間</label></p>
        <p class="label_worktime">開始：<input id="input_worktime" type="time" name="starttime" required></p>
        <p class="label_worktime">終了：<input id="input_worktime" type="time" name="endtime" required></p>
        <p class="send_postposi"><input id="send_postnumber" type="submit" value="OK"></p>
    </form>

    <p class="label_next3">
        <a href="{% url 'initial_page:get_laundryscale' %}">次へ</a>
    </p>
</body>
</html>