{% load static %}
<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="{% static '/script/Datastore.js' %}"></script>


<script>
//初期値は朝、花粉なし
var pollen = false;
var timezone_status = 1;

var rmFlag=false;

//ラジオボタンの値取得
function func1() {
  var element = document.getElementById( "timezone_radio" ) ;
  var radioNodeList = element.timezone;
  timezone_status = radioNodeList.value;
  graphView();
  }

//グラフ表示
//1：朝　2：昼　3：夜
//花粉ありなしで分岐
function graphView(){
  if(rmFlag){
  if(pollen){
      switch(timezone_status){
        case '1':
    　    $('#graph').html('<img id="graph" src="{% static "morning_p.png" %}" alt="graph" border="0">');
          break;
        case '2':
          $('#graph').html('<img id="graph" src="{% static "noon_p.png" %}" alt="graph" border="0">');
          break;
        case '3':
          $('#graph').html('<img id="graph" src="{% static "night_p.png" %}" alt="graph" border="0">');
          break;
      }
    }
    else{
      switch(timezone_status){
        case '1':
    　    $('#graph').html('<img id="graph" src="{% static "morning.png" %}" alt="graph" border="0">');
          break;
        case '2':
          $('#graph').html('<img id="graph" src="{% static "noon.png" %}" alt="graph" border="0">');
          break;
        case '3':
          $('#graph').html('<img id="graph" src="{% static "night.png" %}" alt="graph" border="0">');
          break;
      }
    }
  }
}

$(function(){
  //トグルボタン定義
  $("#chk1").button();
  //トグルボタンの状態を取得する
  $("#chk1").click(function(){
    //花粉表示
    pollen = $("#chk1").prop("checked");
    graphView();
  });
});

//グラフ表示
function removeBtn() {
    rmFlag = true;
    document.getElementById("label_touch").remove();
    document.getElementById("label_touch_pos").remove();
    $('#graph').html('<img id="graph" src="{% static "morning.png" %}" alt="graph" border="0">');
    }

//更新（再度pythonを動かしてスクレイピングできる）
$(function(){
  $('#btn2').on('click', function() {
    getJSONForm('http://' + ipaddr + ':8000/initial/usual/');
    });
});

</script>
</head>
<body>
  <p class="goto_initial_pos">
    <a href="{% url 'initial_page:hello_template' %}" >
      <button id="goto_initial">初期画面に戻る</button>
    </a>
  </p>
    <p class="figure">
      <p id="graph"><p id="label_touch_pos" ><button id="label_touch" onclick="removeBtn()" ">タッチしてください</button></p></p>
    </p>
  <form id="timezone_radio">
    <div class="timezone_wrap">
      <input id="radio_morning" type="radio" name="timezone" value=1 onchange="func1()" checked />
      <label class="label_timezone">朝　　</label>
      <input id="radio_noon" type="radio" name="timezone" value=2 onchange="func1()"/>
      <label class="label_timezone">昼　　</label>
      <input id="radio_night" type="radio" name="timezone" value=3 onchange="func1()"/>
      <label class="label_timezone">夜</label>
    </div>
  </form>
  <p class="toggle_posi">　　　　
    <input type="checkbox" id="chk1" /><label for="chk1">花粉量表示</label>
  </p>
    <p class="button_posi"><input type="button" id="btn2" value="更新" />　　<a href="{% url 'initial_page:today_plan' %}"><button type="button" id="btn3">今日の推奨時間</button></a>　<a href="{% url 'initial_page:weekly_plan' %}"><button type="button" id="btn4">週間の提案</button></a><p>
    <p>{{number}}</p>
    <p>{{start}}</p>
    <p>{{end}}</p>
    <p>{{scale}}</p>
</body>
</html>