.title{
    padding-top: 300px;
    font-size: 550%;
    text-align: center;
}
p.label_next{
    padding-top: 550px;
    font-size: 500%;
    text-align: center;
}


p.label_postnumber{
    padding-top: 100px;
    font-size: 650%;
    text-align: center;
}

#zip01{
    font-size: 60px;
    width: 20%;
    text-align: center;
    border: 2px solid #ddd; 
}
#zip02{
    font-size: 60px;
    width: 20%;
    text-align: center;
    border: 2px solid #ddd; 
}
p.send_postposi{
    text-align: center;
}


p.label_next3{
    padding-top: 200px;
    text-align: center;
}
#input_worktime{
    font-size: 50px;
    width: 30%;
    text-align: center;
}


p.label_laundry_title{
    padding-top: 100px;
    font-size: 550%;
    text-align: center;
}
p.label_next4{
    padding-top: 250px;
    font-size: 500%;
    text-align: center;
}
.radio_laundry{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
#radio_laundry1{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
#radio_laundry2{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
#radio_laundry3{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
.label_laundry{
    font-size: 40px;
    vertical-align: middle;
}
.laundry_wrap{
    padding-top: 120px;
    text-align: center;
}


.title2{
    padding-top: 300px;
    font-size: 500%;
    text-align: center;
}
.label_next5{
    padding-top: 400px;
    font-size: 400%;
    text-align: center;
}
p.send_laundryposi{
    text-align: center;
    padding-top: 100px;
}


#label_touch{
    font-size: 400%;
}
#label_touch_pos{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
#radio_morning{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
#radio_noon{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
#radio_night{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.label_timezone{
    font-size: 40px;
    vertical-align: middle;
}
.timezone_wrap{
    padding-top: 10px;
    text-align: center;
}
.figure{
    width: 10%;
    height: 10%;
    padding-left: 60px;
}
#graph{
    width: 100%;
    height: 100%;
}
.toggle_posi{
    text-align: center;
    font-size: 200%;
}
.button_posi{
    padding-top: 50px;
    text-align: center;
    font-size: 200%;
}
#btn1{
    width: 200px;
    height: 60px;
    font-size: 80%;
}
#btn2{
    width: 140px;
    height: 100px;
    font-size: 100%;
}
#btn3{
    width: 250px;
    height: 150px;
    font-size: 80%;
}
#btn4{
    width: 250px;
    height: 150px;
    font-size: 100%;
}
.label_next6{
    padding-top: 10px;
    font-size: 500%;
    text-align: center;
}
p.goto_initial_pos{
    text-align: left;
    padding-top: 30px;
}
#goto_initial{
    font-size: 150%;
}


.figure_today{
    width: 100%;
    height: 100%;
}
#btn5{
    width: 150px;
    height: 80px;
    font-size: 150%;
}
.btn5_pos{
    text-align: center;
}
.label_today_plan{
    text-align: center;
    font-size: 200%;
}


.label_weekly_plan{
    text-align: center;
    font-size: 120%;
}